.section_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35rem;
    align-items: center;
    gap: var(--spacing--40);
    margin: 0 0 var(--spacing--100) 0 ;
}

.section_items__h2{
    text-align: center;
    font-size: var(--font-26);
}

.section_items__article{
    display: flex;
    justify-content:center;
    gap: var(--spacing--40);
    align-items: center;
}

.section_items__div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing--12);
    justify-content: center;
}

.section_items__img{
    height: 15rem;
    width: 15rem;
    border-radius: 1rem;
}

.section_items__p{
    max-width: 16rem;
    font-size: var(--font-14);
    text-align: center;
}

